.ax_default {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.image {
}
.placeholder {
}
.button {
}
.heading_1 {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.tree_node {
  text-align:left;
}
.menu_item {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.shape {
}
.card_not_selected-white {
}
.icon {
}
.blue-outline {
}
.search_bg {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#777677;
  text-align:left;
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.card {
}
.repeater_cell-40px-14pt-background {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.repeater_cell-40px-14pt-background-hover {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.repeater_cell-40px-14pt-background-selected {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.repeater_cell-40px-14pt-p-left_align {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#595859;
  text-align:left;
  line-height:normal;
}
.box_11 {
}
.shape1 {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
.line-divider {
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
}
.box_2 {
}
.dd_standard {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#595859;
  text-align:left;
}
.disabled_state_grey_btn-p2 {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#777677;
  text-align:center;
}
textarea, select, input, button { outline: none; }
